In [187]:
import numpy as np
import knn_model
imp.reload(knn_model)
from knn_model import KnnModel
import importlib as imp


from model_evaluation import r_squared

In [240]:
data = np.loadtxt("out.txt")

In [241]:
data = pd.DataFrame(data = data, columns = ["k","sigma","r1","r2"])

In [242]:
data=data[data['k']==5]

In [243]:
d=pd.DataFrame(columns=["sigma","r1","r2"])

In [244]:
d[["sigma","r1"]]=data[["sigma","r1"]].groupby("sigma",as_index=False).mean()
d[["sigma","r2"]]=data[["sigma","r2"]].groupby("sigma",as_index=False).mean()

In [245]:
d

    sigma        r1        r2
0    0.05  0.891165  0.758979
1    0.10  0.863629  0.752850
2    0.20  0.848477  0.744967
3    0.25  0.844977  0.740284
4    0.50  0.840197  0.739810
5    1.00  0.839342  0.730407
6    1.50  0.836066  0.737359
7    2.00  0.838114  0.736443
8    2.50  0.833983  0.736486
9    3.00  0.836910  0.733482
10   3.50  0.836889  0.732899
11   4.00  0.833100  0.733710
12   4.50  0.831875  0.745384
13   5.00  0.834006  0.738753